body {
  font-family: $font-family;
  font-weight: $light;
  font-size: 12px;
  letter-spacing: normal;
}

.lite {
  background-color: $white;
  color: $txt-dark-blue;
}

.dark {
  background-color: $dark-blue;
  color: $white;
}
