@import '../../assets/styles/index.scss';

.pagination {
  justify-content: center;
  display: flex;
  gap: 1em;

  & li {
    list-style: none;
    height: 1.25rem;
    width: 1.25rem;
    font-size: 0.75rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    cursor: pointer;

    @include mq(desk) {
      height: 31.5px;
      width: 31.5px;
      font-size: 1rem;
    }
  }

  & li.active {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.08);
  }
}
