@import '../../assets/styles/index.scss';

.link {
  @include centered-flex;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  gap: 5px;
  width: 100px;
  background-color: $white;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.08);
  margin-bottom: 70px;
}
