@import '../../assets/styles/index.scss';

.wrapper {
  display: block;
  @media screen and (min-width: 900px) {
    display: flex;
    gap: 3rem;
  }
  @media screen and (min-width: 1200px) {
    gap: 7.5rem;
  }
}

.shell {
  margin-bottom: 40px;
  @include mq(tab) {
    margin-bottom: 0;
  }
}

.textWrapper {
  display: block;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.img {
  aspect-ratio: 130/80;
  width: 100%;
  @media screen and (min-width: 900px) {
    height: 25rem;
    width: 35rem;
  }
}

.title {
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 25px;
}

.boldTxt {
  font-weight: 800;
  font-size: 1rem;
  margin-right: 5px;
}

.txt {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.list {
  font-weight: 800;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.link {
  font-size: 1rem;
  font-weight: 600;
  @include centered-flex;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  gap: 5px;
  background-color: $white;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.08);
}

.darkMode {
  background-color: $dark-blue;
  color: $white;
}
